body{
    margin: 0;
    padding: 0;
    background:url(img/fondo_recu.jpeg);
    background-size: cover;
    font-family: sans-serif;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: centers;
}

.caja{
    
    width: 400px;
    height: 500px;
    margin-top:100px;
    background:white;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.caja img.candado{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: no;

}

h5{
    color: rgb(44, 42, 42);
}

.caja .candado{
    width: 170px;
    height: 170px;
    border: radius 50%;
    background: transparent;
    
}
.caja h3 h5{
    margin: 0;
    text-align: center;
    font-size: 22px;
}

.caja input{
    width: 80%;
    margin-bottom: 20px;
    height: 20px;
}

.caja input [type="text"]{
    border: none;
    border: bottom 1px solid #87a7c4;
    background: transparent;
    outline: none;
    font: size 16px;
    color:#fff;
   
}

.caja input[type="submit"]{
    border: none;
    outline: none;
    height: 30px;
    background:rgb(117, 116, 116);
    color: #fff;
    font-size: 18px;
    border: radius 20px;

}
