body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.usuario{
    display:flex;
    align-items:center;
    gap: 15px;
    margin-right: 20px;
}

.usuario img{
    height: 50px;
    margin-left: 10px;
}

.encabezado{
    background-color: #87a7c4;
    color: white;
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.encabezado h2{
    margin:0;
}

header{
    display: flex;
    align-items: center;
    justify-content:space-between;
 
    
    
}

nav{
    display: flex;
    gap: 70px; 
    margin-left: 60px;
    align-items: center;
}
nav a {
    color: black;
    margin: 0;
    font-size: 16px;
}

nav a:hover{
    color: blue;
}

.logo{
    margin-left: auto;
    width: 20%;
}

.logo img{
    height:auto;
    margin-left: 10px;
    width: 150%;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}
thead{
    background-color: rgb(148, 123, 176);
    
}

tr:nth-child(even){
    background-color: rgb(181, 180, 180);
}

th, td {
    border: 2px solid black;
    text-align: center;
    padding: 8px;
}
.btn-retirado {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: default;
    font-weight: bold;
}

form{
    display: flex;
    justify-content: flex-end;
    margin: 10px 20px;
    gap:10px;
}

